.logo {
  display: flex;
  align-items: center;
  
  .logo-img {
    height: 40px;
    width: auto;
    max-width: 150px;
    object-fit: contain;
  }
}

@media (max-width: 768px) {
  .logo .logo-img {
    height: 35px;
    max-width: 120px;
  }
}
